:root{
    --main_color:#133E87;
    --second-color:#B3C8EA;
    --third-color:#F5F7FA;
    --margin:30px;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", serif;
}
*{
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
    outline:none;
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    
}
body{
    height: 100svh;
    max-height: 100svh;
    background-image: linear-gradient(to bottom right,#B3C8EA,#F5F7FA);
    background-repeat: no-repeat;
    background-attachment: fixed;   



}

.page1{
    padding: 15px;
    margin: 15px;
    display:grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "aside prag prag"
    "aside input input";

}



header{
    width: 100%;
    grid-area: header;

}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container  .logo{
    display: flex;
    gap: 20px;
    align-items: center;
}


header .container .logo-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

header .container nav{
    display: flex;
    gap: 25px;
    align-items: center;
}

header .container a{
    color: black;
}

header .container .header-btn{
    display: flex;
    align-items: center;
    gap: 15px;
}
header .container .header-btn button{
    padding: 10px 30px ;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

header .container .header-btn .active{
    background-color: var(--main_color);
    color:#fff;
}




.discription{
    grid-area: prag;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    width: 70%;
    height: 75%;
}



aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.aside__img--doc{
    padding: 10px;
    width: 200px;
    border-radius: 150px;
}

.social{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.social a{
    color: black;
}


.enter__data{
    grid-area: input;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    bottom: 80px;

}

.text__filed--left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text__filed--right{
    gap: 20px;
    display: flex;
    flex-direction: column;
    right: 150px;
    justify-content: space-between;
}
.towinputs{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.enter__date--text{
    background-color: #4f8fe380;
    padding: 10px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px rgb(84, 99, 104);
}

input::placeholder {
    color:rgb(121, 118, 118);
    font-size: 1.2em;

}

.btn{
    background-color: var(--main_color);
    color:#fff;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}
.btns{
    display: flex;
    justify-content: end;
}

@media (max-width:750px){

}

@media (max-width:1200px){

    .enter__data{
        bottom: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }
    .text__filed--right{
        left: 0px;

    }



}

@media (max-width:800px){

    .enter__data{
        bottom: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }
    .text__filed--right{
        left: 0px;

    }


    .doc_pragh{
        display: none;
    }
    nav a{
        display: none;
    }



}

@media (max-width:900px){

    .enter__data{
        bottom: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }
    .text__filed--right{
        left: 0px;

    }


    .doc_pragh{
        display: none;
    }
    nav a{
        display: none;
    }



}



@media (max-width:750px){

    .enter__data{
        bottom: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        right: 80px;

    }
    .text__filed--right{
        left: 0px;

    }


    .doc_pragh{
        display: none;
    }
    nav a{
        display: none;
    }

    aside{
        display: none;
    }
    
    .doc_name{
        top:80px;
        right:250px;
    }


}